* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2F2E41;
}

#page {
    max-width: 1092px;
    margin: auto;
}

nav {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 64px;
}

ul li {
    font-family: 'JetBrains Mono', 'sans-serif';
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFF;
}

main {
    display: flex;
    gap: 80px;
    margin-top: 100px;
}

section {
    text-align: center;
}

h1 {
    font-family: 'JetBrains Mono', 'sans-serif';
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #FFF;
    margin-bottom: 60px;
}

h1 span {
    color: #00BFA6;
}

section p {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #C2C2C2;
    width: 604px;
}

section p span {
    color: #00BFA6;
    font-weight: 700;
}

footer {
    margin-top: 157px;
    text-align: center;
}

#line {
    width: 568px;
    height: 0;
    margin: auto;
    border: 1px solid #00BFA6;
}

footer p {
    font-family: 'JetBrains Mono', 'sans-serif';
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFF;
    margin-top: 27px;
}

a {
    text-decoration: none;
    color: #FFF;
}

#cadeado {
    position: fixed;
    bottom: 20px;
    left: 20px;
}